.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  padding-top: 24px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.item {
  margin-left: 24px;

  &:first-child {
    margin-left: 0;
  }
}

.link {
  font-size: 20px;
  color: $color-primary;
  text-decoration: none;
  transition: 0.2s;

  &:hover {
    color: #4d63dd;
  }
}

.button {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  border: 1px solid $color-primary;
  border-radius: 8px;
  transition: 0.2s;

  &:nth-child(1) {
    color: $color-primary;
    background: none;

    &:hover {
      color: $color-secondary;
      background-color: $color-primary;
    }
  }

  &:nth-child(2) {
    margin-left: 12px;
    color: $color-secondary;
    background-color: $color-primary;

    &:hover {
      color: $color-primary;
      background: none;
    }
  }
}
